body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.wrapper-main {
    width: 200px; 
    margin: 0px;   
}

textarea, input {
    border: 1px solid #ccc; 
}

textarea:focus, 
input[type="text"]:focus {
    outline: 1px solid blue; 
}

textarea {
    width: 50%; 
    height: 100px; 
    resize: vertical; 
}

input[type="radio"] {
    appearance: radio;
}

input[type="checkbox"] {
    appearance: checkbox;
}

select {
    border: 1px solid #ccc;  
    width: 200px; 
}

button {
    background-color: bisque;  
}

input[type="text"], textarea, select, button {
    padding: 10px; 
    border-radius: 10px; 
}

button:hover {
    background-color: rbg(209, 189, 164); 
    cursor: pointer; 
}

/* .data-container {
    

} */

.form-error {
    color: red; 
}

.form-success {
    color: green; 
}

.input-error {
    box-shadow: 0 0 5px red; 
}